
<div class="container" id="mask">
    <label for="">Busqueda :  {{ termino | uppercase }}</label>
    <br>
    <input type="text" class="form-control" ng-model="termino" placeholder="Busqueda....">
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre Producto</th>
                <th>Descripcion</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "product in productos |filter : termino | limitTo: posicion | limitTo: -2">
                <td>{{ product.nombre | uppercase }}</td>
                <td>
                <p class="text-justify">
                        {{ product.descripcion |  limitTo:100 |lowercase  }}...
                </p>
                </td>
                <td>
                    <a class="btn btn-outline-warning" href="#!/Inicio/{{product._id}}">Mas...</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-2">
            <button class="btn btn-outline-dark btn-block" ng-click="atras()">Atras</button>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-outline-success btn-block" ng-click="siguiente()">Siguiente</button>
        </div>
    </div>
    <br><br>
    </div>
</div>